<a href="https://colab.research.google.com/github/rjhanjee/my-first-repo/blob/main/hw4_9_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import sqlite3 as sq3
import pandas as pd

# Read the opioid database that I created in sqilite and saved in my  github repo

##Download the database using the unix command wget
# !wget https://raw.githubusercontent.com/smart-stats/ds4bio_book/main/book/sql/opioid.db
!wget https://raw.githubusercontent.com/rjhanjee/my-first-repo/opioid.db

## Create the connection
con = sq3.connect("opioid.db")

## cursor() creates an object that can execute functions in the sqlite cursor
sql = con.cursor()


# ## execute a command, loop through the output and print out
# for row in sql.execute("select * from county_info limit 5;"):
#     print(row)

# Write the DataFrames to tables in the database
# if_exists='replace' will overwrite the table if it already exists
# population_df.to_sql('population', con, if_exists='replace', index=False)
# annual_df.to_sql('annual', con, if_exists='replace', index=False)
# land_df.to_sql('land', con, if_exists='replace', index=False)

population_df = pd.read_sql_query("SELECT * from population", con)
annual_df = pd.read_sql_query("SELECT * from annual", con)
land_df = pd.read_sql_query("SELECT * from land",con)


# you have to close the connection
con.close

--2025-09-07 17:58:23--  https://raw.githubusercontent.com/rjhanjee/my-first-repo/opioid.db
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 400 Bad Request
2025-09-07 17:58:23 ERROR 400: Bad Request.

DatabaseError: Execution failed on sql 'SELECT * from population': no such table: population

In [19]:
import sqlite3 as sq3
import pandas as pd

## Create the connection
con = sq3.connect("opioid.db.1")

## cursor() creates an object that can execute functions in the sqlite cursor
sql = con.cursor()

population_df = pd.read_sql_query("SELECT * from population", con)
annual_df = pd.read_sql_query("SELECT * from annual", con)
land_df = pd.read_sql_query("SELECT * from land",con)


# you have to close the connection
con.close

print("population, land and annual tables downloaded from opiod.db file that I ")
print("created in sqlite successfully.")
print("Now we will do rest of the data manipulation in pandas as required in Assignment 4 ")

# print few rows of the population data

print("Here are few rows of population data")

print(population_df[['BUYER_COUNTY', 'BUYER_STATE','STATE','COUNTY','year','population']].head())

print("- " *30)

# Now print some data in the annual dataset

print("now print some data in the annual dataset")

annual_df = annual_df.drop(['?'],\
             axis = 1)


print(" Now print the rows from annual table that have the missing values ")
nan_rows = annual_df[annual_df['countyfips'].isna()]
print(annual_df[annual_df.countyfips.isna() == True].iloc[:10,:])

print("- " *30)

print(annual_df[(annual_df.countyfips.isna() == True) & (annual_df.BUYER_STATE != "PR")].iloc[:10,:])

print("- " *30)

# update annual set countyfips = 05097 where BUYER_STATE = "AR" and BUYER_COUNTY = "MONTGOMERY"
annual_df.loc[(annual_df['BUYER_STATE'] == 'AR') & (annual_df['BUYER_COUNTY'] == 'MONTGOMERY'), 'countyfips'] = 5097
print(annual_df[(annual_df.BUYER_STATE == "AR") & (annual_df.BUYER_COUNTY == "MONTGOMERY")].iloc[:10,:])
#

# delete from annual where BUYER_COUNTY = "NaN"
annual_df = annual_df.dropna(subset=['BUYER_COUNTY'])
print(annual_df[annual_df.BUYER_COUNTY.isna() == True].iloc[:10,:])

#create table land_area as select Areaname, STCOU, LND110210D from land;
# we want to grab just three columns from the land.df table, so let’s create a new one called land_area
land_area = land_df[['Areaname', 'STCOU', 'LND110210D']]
land_area.columns = ['Areaname', 'STCOU', 'land_area']

print("Table land_area")
print()
print(land_area.head())
print("-"*30)

# Also, the column there is called STCOU, which we want to rename to coutyfips
land_area.rename(columns={'STCOU': 'countyfips'}, inplace=True)

print("Table land_area")
print()

print(land_area.head())

print("-"*30)

#  left join our table and print out the counts to make sure we accounted correctly.

# create a table county_info as select * from population_df
# 2. Perform the left join using pd.merge()
# The 'on' parameter specifies the common column 'countyfips'.
# The 'how' parameter is set to 'left' to perform a left join.
county_info = pd.merge(population_df, land_area, on='countyfips', how='left')

# 3. Print the resulting 'county_info' DataFrame
print("County Info Table (DataFrame):")
print(county_info.head())

row_count_land_area = len(land_area)
row_count_population = len(population_df)
row_count_county_info = len(county_info)
print(f"Number of rows in land_area: {row_count_land_area}")
print(f"Number of rows in population_df: {row_count_population}")
print(f"Number of rows in county_info: {row_count_county_info}")

# _________________________________________________

# CAST(strftime('%Y', date_column) AS INTEGER) AS year
# calculate average number of opioid pills

# from datetime import datetime

# date_string = "2023-10-26"  # Example date string
# date_object = datetime.strptime(date_string, '%Y-%m-%d')
# year = date_object.year
# print(year)

population, land and annual tables downloaded from opiod.db file that I
created in sqlite successfully.
Now we will do rest of the data manipulation in pandas as required in Assignment 4
Here are few rows of population data
  BUYER_COUNTY BUYER_STATE STATE COUNTY  year population
0      AUTAUGA          AL     1      1  2006      51328
1      BALDWIN          AL     1      3  2006     168121
2      BARBOUR          AL     1      5  2006      27861
3         BIBB          AL     1      7  2006      22099
4       BLOUNT          AL     1      9  2006      55485
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
now print some data in the annual dataset
 Now print the rows from annual table that have the missing values
Empty DataFrame
Columns: [BUYER_COUNTY, BUYER_STATE, year, count, DOSAGE_UNIT, countyfips]
Index: []
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Empty DataFrame
Columns: [BUYER_COUNTY, BUYER_STATE, year, count, DOSAGE_UNIT, countyfips]
Index: []
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
      BUYER_COUNTY BUYER_STATE  year count DOSAGE_UNIT countyfips
17429   MONTGOMERY          AR  2006   469      175390       5097
17430   MONTGOMERY          AR  2007   597      241270       5097
17431   MONTGOMERY          AR  2008   561      251760       5097
17432   MONTGOMERY          AR  2009   554      244160       5097
17433   MONTGOMERY          AR  2010   449      247990       5097
17434   MONTGOMERY          AR  2011   560      313800       5097
17435   MONTGOMERY          AR  2012   696      339520       5097
17436   MONTGOMERY          AR  2013   703      382300       5097
17437   MONTGOMERY          AR  2014   491      396900       5097
45188   MONTGOMERY          AR  2006   469      175390       5097
Empty DataFrame
Columns: [BUYER_COUNTY, BUYER_STATE, year, count, DOSAGE_UNIT, countyfips]
Index: []
Table land_area

        Areaname  STCOU   land_area
0  UNITED STATES  00000  3531905.43
1        ALABAMA  01000    50645.33
2    Autauga, AL  01001      594.44
3    Baldwin, AL  01003     1589.78
4    Barbour, AL  01005      884.88
------------------------------
Table land_area

        Areaname countyfips   land_area
0  UNITED STATES      00000  3531905.43
1        ALABAMA      01000    50645.33
2    Autauga, AL      01001      594.44
3    Baldwin, AL      01003     1589.78
4    Barbour, AL      01005      884.88
------------------------------
County Info Table (DataFrame):
   ? BUYER_COUNTY BUYER_STATE countyfips STATE COUNTY county_name  \
0  1      AUTAUGA          AL      01001     1      1     Autauga
1  1      AUTAUGA          AL      01001     1      1     Autauga
2  2      BALDWIN          AL      01003     1      3     Baldwin
3  2      BALDWIN          AL      01003     1      3     Baldwin
4  3      BARBOUR          AL      01005     1      5     Barbour

                      NAME    variable  year population     Areaname land_area
0  Autauga County, Alabama  B01003_001  2006      51328  Autauga, AL    594.44
1  Autauga County, Alabama  B01003_001  2006      51328  Autauga, AL    594.44
2  Baldwin County, Alabama  B01003_001  2006     168121  Baldwin, AL   1589.78
3  Baldwin County, Alabama  B01003_001  2006     168121  Baldwin, AL   1589.78
4  Barbour County, Alabama  B01003_001  2006      27861  Barbour, AL    884.88
Number of rows in land_area: 6397
Number of rows in population_df: 56531
Number of rows in county_info: 113043

/tmp/ipython-input-3094106736.py:68: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  land_area.rename(columns={'STCOU': 'countyfips'}, inplace=True)